/*
Styles are implemented as mobile first. On mobile, 2 column layout is shown where as on tablet and desktop
4 column layout is shown with differece in row and column spacings.
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Audiowide', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto;
    padding: 32px;

}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;

}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.no-match {
    background: red !important;
    cursor: default;
}

.not-allowed {
    cursor: not-allowed !important;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.timer {
    margin: 10px;
    padding: 10px;

}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 styles for modal
*/
.modal {
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    width: 100%;
    margin: auto;
}

/*
responsive css for tablet and desktop
*/

@media (min-width:768px) {
    .deck {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: auto auto auto auto;
        padding: 32px;
    }
}

@media (min-width:1024px) {
    .deck {
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: auto auto auto auto;
        padding: 32px;
    }
}